html {
  font-size: 1px;
  font-style: normal;
  font-family: Roboto;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  letter-spacing: 1rem;
  box-sizing: border-box;
  line-height: 1;
  min-height: 100vh;
}
.ContainerApp {
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-basis: auto;
  justify-content: space-between;
  background-color: transparent;
  font-size: 15rem;
}
.MainContent {
  margin-left: 250rem;
  width: calc(100% - 250rem);
  min-width: 500rem;
}
.MinHeight100vh {
  min-height: 100vh;
}
.HeightCover {
  height: calc(100% - 20rem);
}
.PaddingContent {
  padding: 10rem 40rem 0rem 40rem;
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}
